table.ui.celled.table
    thead
        tr
            th
            th Title
            th Description
            th Delete
    tbody
        each song in songs
            tr
                td
                    img(src=song.artwork)
                td= song.title
                td= song.description.substring(0, 144)
                td
                    .ui.right.floated.primary.negative.button.deleteTrack(data-id=song.id)
                        | Delete

block scripts
    script.
        $(document).ready(function(){
            $('.deleteTrack').on('click', function(){
                console.log($(this));
                var id = $(this).data('id');
                $.post({
                    url: '/deleteTrack',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        $('#allTracks').html(data);
                    }
                })
            })
        });
