extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.image.header
        img.image(src='http://semantic-ui.com/examples/assets/images/logo.png')
        .content
          | DnB Player
      .ui.large.form
        .ui.stacked.segment
          .field#songTitle
            if currentSong
              label #{currentSong.name}
            else
              label Not Playing
          button.ui.labeled.icon.positive.button#playPause
            i.play.icon
            |   Play
          button.ui.icon.teal.button#nextSong
            i.angle.double.right.icon
          input(type='range', min='0', max='5', class='ui field', id='volumeBar')
      //.ui.message#time
      //  | New to us?
block scripts
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="/js/socket.js")
  script(src="/js/player.js")
  script(src="/js/main.js")



