extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.image.header
        i.music.icon
        .content
          | DnB Player
      .ui.large.form
        .ui.stacked.segment
          .field#songTitle
            if currentSong
              label #{currentSong.name}
            else
              label Not Playing
          .field
            .waveform#waveform
            .ui.progress#progress
              .bar
                .progress
          .field
            .ui.buttons
              button.ui.button.active.positive#playPause
                i.play.icon
                |     Play
              button.ui.right.blue.icon.button#nextSong
                i.angle.double.right.icon
              //button.ui.icon.button#mute
                i.volume.up.icon
              .ui.icon.dropdown.button#dropdownBtn
                i.volume.up.icon#dropdownIcon
                .menu
                  .item
                    input(type='range', min='0', max='10', value="10" class='ui field', id='volumeBar')


      //.ui.message#time
      //  | New to us?
block scripts
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js")
  script(src="/js/socket.js")
  script(src="/js/playlist.js")
  script(src="/js/player.js")
  script(src="/js/main.js")



