doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/semantic.min.css')
  body
    block content
  div
    script(src="/js/jquery.js")
    block scripts

