doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/semantic.min.css')
    link(rel='stylesheet', href='/css/dropdown.min.css')
    link(rel='stylesheet', href='/css/transition.min.css')
    link(rel='stylesheet', href='/css/progress.min.css')
  body
    block content
  div
    script(src="/js/vendor/jquery.js")
    script(src="/js/vendor/dropdown.min.js")
    script(src="/js/vendor/transition.min.js")
    script(src="/js/vendor/progress.min.js")
    block scripts

